.expandable-search-container {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.expandable-search {
  display: flex;
  align-items: center;
  border: 2px solid #d1d5db;
  background-color: #fff;
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  width: 100%;
  overflow: hidden;
}

.expandable-search input {
  flex-grow: 1;
  width: 80%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
  color: #1f2937;
}

.expandable-search .clear-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: black;
}

.expandable-search .clear-button svg {
  width: 1rem;
  height: 1rem;
}

.expandable-search .search-icon {
  fill: #6b7280;
}
